@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
html,body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body {
    background: url(imagens/fundo-iframe.png) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
main {
    position: relative;
    height: 100vh;
}
section #celular {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 311px;
    width: 627;
    transform: translate(-50% -50%);
background:url(./imagens/frame-iphone.png) ;
}
